.logo{
  text-align: center;
}
/* .figure{
  width: 100%
} */
/* .figure img{
  display: block;
  width: 100%;
} */
/* body > div > div > div > article > div > img{
  display: block;
  width: 100%;
} */
